
<%= turbo_stream_from comment%>
<%= turbo_frame_tag comment do %>

  
  <div class="be-comment-block">
      
    <div class="be-comment">
      <div class="be-img-comment">	
        <a href="blog-detail-2.html">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
        </a>
      </div>
      <div class="be-comment-content">
        
          <span class="be-comment-name">
            <a><%=comment.user.username.capitalize%></a>
            </span>
          <span class="be-comment-time">
            <i class="fa fa-clock-o"></i>
            <%= comment.created_at.strftime("%b %d, %Y %l:%M:%S %p")%>
          </span>

          <div class ="be-comment-text">
            <%= comment.body %>
            
            <div class = "text-right">
              <%= link_to "Edit", edit_comment_path(comment), class: "btn" %>
              <%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure?"}, class: "btn"%>
            </div>
          
          </div>
      </div>
    </div>
  </div>
    
    
    
  

<%end%>

